 <a class="item item-interact" href='/library/{{this.libraryID}}'>
        
    <div class="item-header">
        <div class = item-title>{{this.username}}</div>
        <div class = "item-actions">
            <div class="item-id">{{this.libraryID}}</div>
        </div>
    </div>

</a>