
<div class = 'sidebar'>
    <a class="sidebar-btn" href="/">
        <span class="material-symbols-outlined btn-icon">home</span>
        <span class="sidebar-label">Home</span>
    </a>
    <a class="sidebar-btn" href="/Games">
        <span class="material-symbols-outlined btn-icon">sports_esports</span>
        <span class="sidebar-label">Games</span>
    </a>
    <a class="sidebar-btn" href="/Publishers">
        <span class="material-symbols-outlined btn-icon">domain</span>
        <span class="sidebar-label">Publishers</span>
    </a>
    <a class="sidebar-btn" href="/Users">
        <span class="material-symbols-outlined btn-icon">person_4</span>
        <span class="sidebar-label">Users</span>
    </a>
    <a class="sidebar-btn" href="/libraryGames">
        <span class="material-symbols-outlined btn-icon">newsstand</span>
        <span class="sidebar-label">Library Games</span>
    </a>
    <a class="sidebar-btn" href="/libraries">
        <span class="material-symbols-outlined btn-icon">local_library</span>
        <span class="sidebar-label">Libraries</span>
    </a>
    
</div>