
<div class = 'sidebar'>
    <a class="sidebar-btn" href="/">
        <span class="material-symbols-outlined">home</span>
        Home
    </a>
    <a class="sidebar-btn" href="/Games">
        <span class="material-symbols-outlined">sports_esports</span>
        Games
    </a>
    <a class="sidebar-btn" href="/Publishers">
        <span class="material-symbols-outlined">domain</span>
        Publishers
    </a>
    <a class="sidebar-btn" href="/Users">
        <span class="material-symbols-outlined">person_4</span>
        Users
    </a>
    <a class="sidebar-btn" href="/libraryGames">
        <span class="material-symbols-outlined">newsstand</span>
        Library Games
    </a>
    <a class="sidebar-btn" href="/libraries">
        <span class="material-symbols-outlined">local_library</span>
        Libraries
    </a>
    
</div>