<h1>Games</h1>
<h3>This page lets users interact with the Games table</h3>

<div class="controls">

    <input type="text" placeholder="Search games" class="search-box">
    
    <select class="filter-dropdown">
        <option value="id">ID</option>
        <option value="az">A-Z</option>
        <option value="copiesSold">Copies Sold</option>
        <option value="genre">Genre</option>
        <option value="developer">Developer</option>
        <option value="publisher">Publisher</option>
        <option value="releaseDate">Release Date</option>
        <option value="price">Price</option>
        <option value="estimatedPlaytime">Estimated Playtime</option>
    </select>

    <span class="material-symbols-outlined add">
        add
    </span>

</div>

<div class="content-list">
    <div class= "hidden add-form" id="add_game"> 
        <div class="item-header">
            <div class = item-title>Add Game</div>
            <span class="material-symbols-outlined add" id="confirm-add">
                add
            </span>
        </div>

        <div  class="item-details">
            <div class="info-box">
                <span class="label">Title</span>
                <input type = "text" name = "publisher" class = "add-box">
            </div>

            <div class="info-box">
                <span class="label">Publisher</span>
                <select id="publisher-dropdown" class="add-box">
                    {{#each publisherOptions}}
                        <option value="all">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            
            <div class="info-box">
                <span class="label">Genre</span>
                <select class="add-box">
                    <option value="all">FPS</option>
                    <option value="all">Stealth</option>
                    <option value="all">Action-Advencture</option>
                    <option value="all">Metroidvania</option>
                    <option value="all">Rougelike</option>
                    <option value="all">Simulation</option>
                    <option value="all">Role-Playing</option>
                </select>
            </div>

            <div class="info-box">
                <span class="label">Developer</span>
                <input type = "text" name = "developer" class = "add-box"><br>
            </div>

            <div class="info-box">
                <span class="label">Release Date</span>
                <input type = "date" name = "releasedate" class = "add-box"><br>
            </div>

            <div class="info-box">
                <span class="label">Price</span>
                <input type = "number" name = "price" class = "add-box" step="0.01" min="0" placeholder="0.00"><br>
            </div>

            <div class="info-box">
                <span class="label">Estimated Playtime</span>
                <input type = "number" name = "estimatedplaytime" class = "add-box" min="0"><br>
            </div>
        </div>
    </div>

    {{#each items}}
        {{> gameCard}}
    {{/each}}
</div>
<script src="/Main/src/games.js"></script>
